<h1 id="tableLabel">Virtual servers</h1>
<br />
<div *ngIf="problems">
  <ul *ngFor="let problem of problems">
    <li>{{problem.detail}}</li>
  </ul>
</div>
<p *ngIf="!problems">Редактирование и просмотр виртуальных серверов</p>
<p *ngIf="!serversPage"><em>Loading...</em></p>
<br />
<div class="container-fluid" *ngIf="serversPage">
  <div class="row">
    <div class="col-md"><strong>CurrentDateTime:&nbsp;</strong><span>{{ now | date:'yyyy-MM-dd HH:mm:ss'}}</span></div>
  </div>
  <div class="row"><br /></div>
  <div class="row">
    <div class="col-md"><strong>TotalUsageTime:&nbsp;</strong><span>{{serversPage.totalUsage.days}} days {{serversPage.totalUsage.hours | number:'2.0'}}:{{serversPage.totalUsage.minutes | number:'2.0'}}:{{serversPage.totalUsage.seconds | number:'2.0'}} hours</span></div>
  </div>
  <div class="row"><br /></div>
  <div class="row">
    <div class="col-md-1">
      <button type="button" class="btn btn-success" (click)="Add()">Add</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-danger" (click)="Remove()" [disabled] ="!anySelected">Remove</button>
    </div>
  </div>
  <div class="row"><br /></div>
  <div class="row">
    <div class="col-md-12">
      <table class='table table-striped' aria-labelledby="tableLabel" >
        <thead>
          <tr>
            <th>VirtualServerId</th>
            <th>CreateDateTime</th>
            <th>RemoveDateTime</th>
            <th>SelectedForRemove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let server of serversPage.servers">
            <td>{{ server.id }}</td>
            <td>{{ server.created | date:'yyyy-MM-dd HH:mm:ss' }}</td>
            <td>{{ server.removed | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td><input type="checkbox" class="form-check-input" [(ngModel)]="server.selected" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
